.Card{
    display: flex;
    gap: 8px;
    flex-direction: column;
    max-width: 200px;
    cursor: pointer;
}


.card-img img{
    width: 100%;
}

.name{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}

.card-desc{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    text-align: justify;

    color: #CCC3C3;
}